<p><strong>ADD CONTACT</strong></p>
<form method="POST" action="/contacts" class="add-contact">
  <input type="text" name="name" class="new-contact-name" placeholder="Contact Name">
  <input type="text" name="email" class="new-contact-email" placeholder="Contact Email">
  <button type="submit" class="button">Save</button>
</form>