<div class="row contact-list-row">
  <div class="small-8 column contact-list">
      <%= erb :'_all_contacts' %>
  </div>
  <div class="small-4 column">
    <div class="row">
      <%= erb :'_add_contact' %>
    </div>
  </div>
</div>
