<div class="row contact-list-row">
  <div class="small-8 column contact-list">
    <div class="row">
      <%= erb :'_all_contacts' %>
    </div>
    <div class="row">
      <div class="small-3 column">
        <%= erb :'_add_contact' %>
      </div>
    </div>
  </div>
</div>
